In [1]:
import pandas as pd
import json
from datetime import datetime

#leer base de datos con los partidos
df = pd.read_csv(r"C:\Users\sergi\PROYECTO POWER RANKING\databaseV1.csv")

#Leer df_Teams
with open(r"C:\Users\sergi\PROYECTO POWER RANKING\esports-data\teams.json", 'r') as archivo:
    datos_equipos = json.load(archivo)
df_teams = pd.DataFrame(datos_equipos)

In [2]:
df1= df[['region','Torneo Nombre','Team 1 ID']]
df2= df[['region','Torneo Nombre','Team 2 ID']]

In [3]:
df1

                    Torneo Nombre           Team 1 ID
0                  #2 Summer 2023  109981650516317055
1                  #2 Summer 2023  110733877357854829
2                  #2 Summer 2023  109981650516317055
3                  #2 Summer 2023  110534732558665825
4                  #2 Summer 2023  110733889090164854
...                           ...                 ...
17543  baltic_masters_2021_spring  105548019132871601
17544  baltic_masters_2021_spring  105548000936710641
17545  baltic_masters_2021_spring  104710682193583854
17546  baltic_masters_2021_spring  103877925817094140
17547  baltic_masters_2021_spring  105548000936710641

[17548 rows x 2 columns]